<aside class="sidebar">
  <header class="sidebar-header">
    <nav>
      <div class="bottom-items">
        <a routerLink="/weather" class="nav-link">
          <img src="assets/images/cloud-lightning-rain.svg" alt="Weather">
          <div>Погода</div>
        </a>
        <a routerLink="/cities" class="nav-link">
          <img src="assets\images\buildings.svg" alt="Cities">
          <div>Города</div>
        </a>
        <a routerLink="/setting" class="nav-link">
          <img src="assets\images\gear.svg" alt="Settings">
          <div>Настройки</div>
        </a>
      </div>
    </nav>
  </header>
</aside>

<router-outlet></router-outlet>
